<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="${pageContext.request.contextPath}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to Shopaholic</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}"/>

</head>
<body>
<main>
    <div class="container-main">
        <div class="h1Combined" style="margin-bottom: 5%">
            <h1>ShopaHolic</h1>
        </div>
        <p style="text-align: center;margin-bottom: 2%">
            Welcome to our site for shopping. Feel free to click the button below, and select your favourite stores!
        </p>
        <div style="text-align: center">
        <button class="btn" th:href="@{/onlinestores.html}">Online stores</button>
        </div>
    </div>
</main>
</body>
</html>