<div class="container"  xmlns:th="http://www.w3.org/1999/xhtml" >
    <h1 th:if="${hasError}" th:text="${error}"></h1>
</div>
<div class="container">
    <h2 class="form-signin-heading" style="margin-bot: 15%;color:white;">Register</h2>
    <form class="form-signin mt-xl-5" method="post" action="/register">
        <p>
            <label for="user_name" class="sr-only">Name</label>
            <input type="text"  id="user_name" name="user_name" class="form-control" placeholder="Name" required="" autofocus="" style="margin-bottom: 5%;margin-left:10%">
        </p>
        <p>
            <label for="surname" class="sr-only">Surname</label>
            <input type="text" id="surname" name="surname" class="form-control" placeholder="Surname" required=""
                   autofocus="" style="margin-bottom: 5%;margin-left:10%">
        </p>
        <p>
            <label for="email" class="sr-only">E-mail</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="E-mail" required="" autofocus="" style="margin-bottom: 5%;margin-left:10%">
        </p>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                   autofocus="" style="margin-bottom: 5%;margin-left:10%">
        </p>
        <p>
            <label for="user_password" class="sr-only">Password</label>
            <input type="password" id="user_password" name="user_password" class="form-control" placeholder="Password"
                   required="" style="margin-bottom: 5%;margin-left:10%">
        </p>
        <p>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
    <a href="/login" class="btn btn-block btn-light">Already have an account? Login here!</a>
</div>

